<h1>ADD NEW RECORD</h1>
<form action="/addrecord" method="POST">
    <input type="text" name="Firstn" placeholder="Enter First Name" Required>
    <input type="text" name="Lastn" placeholder="Enter Last Name" Required>
    <input type="text" name="location" placeholder="Enter Location" Required> 

    <input type="text" name="dob" placeholder="Enter Date of Birth" Required> 
    <input type="text" name="tob" placeholder="Enter Time of Birth" Required> 
    <input type="text" name="certifby" placeholder="Enter certifying authority" Required> 

       
    <button>Submit</button>
    
</form>