<h1>SEARCH FOR RECORD</h1>
<form action="/fetchrecord" method="GET">
    <input type="text" name="index" placeholder="Enter index number" Required>
    <input type="text" name="id" placeholder="Enter id number" Required>    
    <button>Submit</button>

</form>